@import url("reset.css");
body {
	font-family: Arial, Helvetica, sans-serif;	
	background-attachment: fixed;
	background-repeat: repeat;
	font-family: "微軟正黑體";	
	background-position: left top;
	background-image: url(../images/bg.jpg);
}

/* ======頁首====== */

#Wrapper {
	width:800px;
	background-image:url(big-images/boxbg.png);
	margin:0 auto;
}
#header{
	width: 100%;
	height: 60px;
	background-image: url(../images/header.jpg);
	display: block;
	float: left;	
}

#logo{
	width:800px;
	height: 60px;	
	display: block;
	margin:0 auto;	
}

#keyvisual{
	width: 100%;
	display:none;
	margin:0 auto;	
}

#keyvisual2{
	width: 800px;
	display:block;
	margin:0 auto;
}


#btn_all{
	width: 100%;
	display: block;
	/*background-color: #22004B;
	text-align: center;*/
	float: left;
}

#banner{
	display:block;
	float:left;
	width:100%;
	min-height:100%;
	background-image:url(../images/banner_bg.png);
	background-repeat:no-repeat;
	background-size:100%;
}


.slider{
	display:block;
	margin:0 auto;
	width:88%;
	padding:7% 5% 0 5%;
}

.slider2{
	display:block;
	margin:0 auto;
	width:89%;
	padding:0 6% 0 6%;
}


#banner_intro{
	display:block;
	float:left;
	width:100%;
	min-height:100%;
	background-size:100%;
	padding-bottom:10%;
}

footer{
	width: 100%;
	height: 40px;
	float: left;
	background-color: #363636;
	margin-top:20px;
}

footer h2{
	color: #A7A7A7;
	font-size: 13px;
	line-height: 40px;
	text-align: center;

}

footer h2 a{
	text-decoration: none;
}

#service{
	width: 95%;
	display: block;
	color: #5C1900;
	font-family: Gotham, "Helvetica Neue", "微軟正黑體",Helvetica, Arial,  sans-serif;
	font-size: 15px;
	text-align: center;
}

#nav{
	display:block;
	float:left;
	height:auto;
	width:100%;
	margin-top:-3px;
}

#nav ul{
	width: 100%;
	display: block;
	float:left;
}

#nav li{
	display:block;
	float:left;
	width:33.3%;
	list-style:none;	
}

#nav li img{
	float:left;	
	display:block;
	width:100%;
}


#submenu{
	width:520px;
	height:140px;
	display:none;
	z-index:1;
	position:absolute;
	background-image:url(../images/whitebg.png);
	border:5px solid #482f1d;
	margin-top:83px;
	margin-left:255px;
	-webkit-border-radius:0px 0px 15px 15px;
	border-radius:0px 0px 15px 15px;
}

#submenu ul{
	display:block;
	margin:0 auto;
}

#submenu li {
	width:30%;
	display:block;
}

#submenu li img{
	float: left;
	width: 80%;
	display:block;
	padding:15% 0% 5% 26%;
}

#submenu li.close{
	width:170px;
	height:130px;
	position:absolute;
	display:block;
	background-image:url(../images/whitebg2.png);	
	z-index:2;
	margin:2%;
	-webkit-border-radius:8px 8px 8px 8px;
	border-radius:8px 8px 8px 8px;	
}

#submenu li.close p{
	font-family:"微軟正黑體";
	font-size:35px;
	color:#737373;	
	text-align:center;
	margin: 8% 0 0 0;
	display:block;
}

#cover{
	display:none;
	z-index:2;
	position:absolute;
	background-color:#989800;
	font-size:20px;
	color:#FF0004;
}


/* ======內容====== */

#content{
	font-family: "微軟正黑體" ,"Arial";	
	background-color:#392207;
	-webkit-border-radius:20px;
	border-radius:20px;
	border:3px solid #766338;	
	padding:0% 2% 5% 2%;
	display:block;
	float:left;	
}

#content img{
	display:block;
	width:100%;
	padding-bottom:2%;
}

#content p{
	font-size:15px;
	line-height:26px;
	color:#fff;	
	padding-left:20px;
	padding-right:20px;
	padding-bottom:5px;
}

#content a{
	font-size:13px;
	line-height:24px;
	color:#fff;		
}

#content .title{
	font-size:18px;
	line-height:26px;
	color:#fff;	
	padding-left:20px;
	padding-right:20px;
	padding-top:20px;
	padding-bottom:20px;
	text-align:center;
	font-weight:bold;
}

#content .title_guide{
	font-size:18px;
	line-height:26px;
	color:#FFD65F;	
	padding-left:20px;
	padding-right:20px;
	padding-top:20px;
	padding-bottom:20px;
	text-align:left;
	font-weight:bold;
	text-decoration:underline;
}

#news{
	clear:both;
	width: 96%;
	display:block;
	padding-top:8%;
	color:#000;
	margin:0 auto;
}

#news ul{
	display:block;	
	margin:1%;
	padding-bottom:30px;
}

#news li{
	width: 100%;	
	display:block;
	list-style-type:none;
}

#news li:first-child a{	
	-webkit-border-radius:15px 15px 0px 0px;
	border-radius:15px 15px 0px 0px;	
}

#news li:last-child a{	
	-webkit-border-radius: 0px 0px 15px 15px;
	border-radius: 0px 0px 15px 15px;	
}

#news a{
	font-size:16px;
	width:100%;
	height:45px;
	line-height:45px;
	text-indent:25px;
	text-align:justify;
	text-justify:inter-word;
	color:#672700;
	text-decoration:none;
	background-color:#FFF;
	border:5px solid #9e6c35;
	margin-bottom:-6px;
	font-weight:bold;
	display: inline-block;
    max-width: 100%;
    white-space: nowrap;
    text-overflow:ellipsis;	
}

#news a:hover{	
	font-size:16px;	
	background-color:#672700;
	color:#FFF;
}

#news span{
	font-family:Arial , Helvetica, sans-serif;
	font-size:14px;
    float: right;
	padding-right:2%;
}


#btn_all2{
	width: 100%;
	display: block;
	text-align: center;
	float: left;
}

#btn_all2 ul{
	width: 100%;
	display: block;
}
#btn_all2 li{
	width: 21%;
	float:left;
	display: block;
	padding-left:26px;
	list-style:none;
}

#btn_all3{
	width: 100%;
	display: block;
	text-align: center;
	padding: 6% 0%;
	float: left;
}
#btn_all3 ul{
	width: 100%;
	display: block;
}
#btn_all3 li{
	width: 50%;
	float:left;
	display: block;
}


/*===公告消息==*/
#news_index{
	clear:both;
	width: 96%;
	display:block;
	padding-top:2%;
	color:#000;
	margin:0 auto;
}

#news_index ul{
	display:block;	
	margin:1%;
	padding-bottom:30px;
}

#news_index li{
	width: 100%;	
	display:block;
	list-style-type:none;
}

#news_index li:first-child a{	
	-webkit-border-radius:15px 15px 0px 0px;
	border-radius:15px 15px 0px 0px;	
}

#news_index li:last-child a{	
	-webkit-border-radius: 0px 0px 15px 15px;
	border-radius: 0px 0px 15px 15px;	
}

#news_index a{
	font-size:16px;
	width:100%;
	height:45px;
	line-height:45px;
	text-indent:25px;
	text-align:justify;
	text-justify:inter-word;
	color:#672700;
	text-decoration:none;
	background-color:#FFF;
	border:5px solid #9e6c35;
	margin-bottom:-6px;
	font-weight:bold;
	display: inline-block;
   	max-width: 100%;
    white-space: nowrap;
    text-overflow:ellipsis;	
}

#news_index a:hover{	
	font-size:16px;	
	background-color:#672700;
	color:#FFF;
}

#news_index span{
	font-family:Arial , Helvetica, sans-serif;
	font-size:14px;
    float: right;
	padding-right:2%;
}


#news_content{
	font-family: "微軟正黑體" ,"Arial";		
	display:block;
	float:none;
	margin-top:12%;
	margin-bottom:4%;	
}

#news_content h2{
	margin:0 auto;
    background: url(../images/news_content_icon.png);
	background-repeat:no-repeat;
	color:#672700;
	font-size:18px;
	border-bottom:2px #672700 dotted;
	line-height:40px;
	padding-left:5%;
	width:88%;
	margin-bottom:2%;
}

#news_content span{	
	float:right;
	color:#672700;
	font-size:14px;	
	line-height:40px;	
}

#news_content p{	
	color:#000;
	font-size:15px;
	line-height:26px;
	padding-left:24px;
	padding-right:20px;
}


#news_content img{
	display:block;
	padding-top:2%;
	padding-bottom:2%;
	margin: 0 auto;
    height: auto;
    max-width: 100%;
}

#news_content a{
	font-size:15px;
	line-height:26px;
	color:#0042C9;
	text-decoration:none;
}



#bottom2{
	width:98%;
	display: block;
	margin:0 auto;
	padding-bottom:3%;
}

#bottom2 #center{
	padding-left:18%;	
	padding-right:18%;
	width:30%;
	display:inline;
}


#bottom2 #left{
	width:30%;
	display:inline;
	padding-left:2%;		
}

#bottom2 #right{
	width:30%;
	display:inline;
}


#servicelist{
	clear:both;
	width: 100%;
	display:block;
	padding-top:5px;
	color:#000;
	float:left;
	margin-bottom:2%;
}

#servicelist p{
	padding:2%;
	width:96%;
	float:left;
	text-align:left;
	font-size:14px;
	color:#000000;
	line-height:1.6;	
}

#intro{
	display:block;
	float:none;
	width:100%;
}

#youtube{
	display:block;
	float:left;
    position: relative;
    padding-bottom:56.25%;
    width:100%;
    height:0;
}

#youtube iframe{
    position: absolute;
    top:0;
    left:0;
    width:88%;
    height:80%;
	margin:0 auto;
	margin-top:5%;
	margin-left:6%;
	border:5px solid #46380f;
	background-color:#46380f;	
}