
@charset "utf-8";
/* CSS Document */

.topbar{
	width: 100%;
	height: 38px;
	background-color: #0a0a0a;
	line-height: 38px;
	margin: 0 auto;
}

.topbar h2{
	color: #fff;
	font-size: 14px;
	text-align: center;
	font-weight: normal;
	letter-spacing: 1px;
}


.wrap{
	max-width: 100%;
  margin: 0 auto;
  height: auto;
 	border-bottom: 8px solid #000; 
}


.wrap img{
	border: 0px;
    vertical-align: top;
}

.light{
	width: 100%;
	position: absolute;
	z-index: 5;
	top: -3px;
	overflow: hidden;
}

	@media screen and (max-width: 767px) {
		.light{
			display: none;
		}
	}


.kv{
  width: 100%;
  background: url(../images/bg01.jpg) top center;
  display: block;
}

	@media screen and ( max-width: 768px ){
		.light{
			display: none;
		}
	}


.kv_content{
	margin: 0 auto;
	width:1000px;
	height:930px; 
	background-repeat:no-repeat;
	position: relative;
}

/*--kv img--*/

.logo {
	position: absolute;
	display: block;
  top: 280px;
  left: 300px;
 }

 .kv_day{
  position: absolute;
  display: block;
  top: 360px;
  left: 250px;
}

.kv_slogan{
	position: absolute;
	display: block;
  top: 500px;
  left: 190px;
  animation-delay: 0.2s; 
}

.kv_eight{
  position: absolute;
  display: block;
  top: 360px;
  left: 440px;
  animation-delay: 0.2s;  
}

.kv_eight img{
	animation: jumpjump_shake 1.8s 1.2s linear infinite;	
}

.kv_super{
  position: absolute;
  display: block;
  top: 380px;
  left: 150px;
  animation-delay: 0.3s;
}

.kv_m{
		display: none;
    width: 100%;
}

	@media screen and ( max-width: 768px ){
		.logo, .kv_day , .kv_slogan ,.kv_eight ,.kv_super{
			display: none;
		}

	.kv_content{
		width: 100%;
		height: auto;
		margin: 0 auto;
		background-repeat:no-repeat;
		position: relative;
	}

		.kv_m{
		  width: 100%;
		  display: block;
		}

		.kv_m img{
    display: block;
    width: 100%;
		}

		.kv{
  	width: 100%;
 		background: none;
  	display: block;
		}
	}

/*--kv img end--*/


.title {
	width: 1000px;
	margin: 0 auto;
	display: block;
	margin:40px 0 10px 0;
}

.title img{
	display: block;
	margin: 0 auto;
}


.content_02{
	width: 100%;
	height:auto;
	margin: 0 auto;
	display: table;
  background: url(../images/bg02.jpg) top center no-repeat;		
}


.content{
	max-width: 1000px;
	height: auto;
	margin: 0 auto;
	position: relative;
	margin-top: 0px;
}

.sale_con{
	display: block;
	position: relative;
}

.sale_con ul{
	margin-top: 40px;
}

.sale_con li{
	margin-top: 10px;
}

.sale_con li img{
	display: block;
	margin: 0 auto;	
}

.sale_con .wowimg{
	position: absolute;
	display: block;
  top: -50px;
  left: 80px;	
  z-index: 999;
}

.sale_con .text{
	color: #fff;
	line-height: 32px;
	width: 600px;
	margin: 30px auto 55px auto;
	font-size: 16px;
	letter-spacing: 0.5px;
}	

	@media screen and ( max-width: 768px ){

		.title {
			width: 100%;
			margin: 0 auto;
			display: block;
			margin:20px 0 10px 0;
		}

		.title img{
			width: 100%;
			display: block;
			margin: 0 auto;
		}

		.content_02{
			max-width: 100%;
			height:auto;
			margin: 0 auto;
			display: table;
		  background: none;
		  background-color: #a60402;
		  border-bottom: 5px solid #000;	
		  padding-top: 40px;	
		}

		.content{
			width: 80%;
			height: auto;
			margin: 0 auto;
			position: relative;
			padding-top: 0px;
		}

		.sale_con{
			display: block;
			position: relative;
		}

		.sale_con ul{
			margin-top: 40px;
		}

		.sale_con li{
			margin-top: 15px;
		}

		.sale_con li img{
			width: 100%;
			display: block;
			margin: 0 auto;	
		}

		.sale_con .wowimg{
			position: absolute;
			display: block;
		  top: -40px;
		  left: -50px;	
		  z-index: 999;
		}

		.sale_con .wowimg img{
			width: 55%; 
			display: block;
		}

		.sale_con .text{
			width: 100%;
			color: #fff;
			line-height: 26px;
			margin: 30px auto 55px auto;
			font-size: 14px;
			letter-spacing: 0.5px;
		}	

	}



.content_03{
	width: 100%;
	height:auto;
	margin: 0 auto;
	display: table;
  background: url(../images/bg03.png) top center no-repeat;	
  padding-bottom: 65px;	
}

.con01{
	width: 1000px;
	display: block;
	margin: 0 auto;
}

.con01 li{
	width: 22%;
	float: left;
	background: #000;
	/*padding: 14px 10px 20px 10px; */
	margin:5px 15px 10px 15px;
	border:2px solid #000;
}

.con01 li img{
	display: inline-block;
}

.con01 .brand{
	float: left;
	background: #fff;
	width: 220px;
	height: 260px;
}


.con01 .item_text{
	color: #fff;
  font-size: 20px;
  text-align: center;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 8px 0px;
  margin: 0;
 	text-decoration: none; 
}

.con01 .item_text a{
	color: #fff390;
	text-decoration: none;
}

.con01 .item_text a:hover{
	color: #fff390;
}


.con01 .item_more{
	color: #000;
  font-size: 13px;
  text-align: center;
  align-items: center;
  margin: 0 auto; 
  border:2px solid #2a2724;
  border-radius: 100px;
  width: 100px;
  line-height: 26px;
  height: 30px;
  font-weight: bolder;
}

.con01 .item_more:hover{
	color: #fff;
  border:2px solid #000;
  background: #000;
  transition: 0.3s;
}

.con01 .logoimg{
	width: 100%;
	display: block;
	padding-bottom: 10px;
}

.con01 .logoimg img{
	padding-top: 90px;
	margin: 0 auto;	
	display: block;
}

.con01 img:hover{
	-webkit-filter:brightness(115%); 
	-webkit-transition:0.3s; 
	-o-transition:0.3s; 
	transition:0.3s;
}




	@media screen and ( max-width: 768px ){

		.content_03{
			max-width: 100%;
			height:auto;
			margin: 0 auto;
			display: table;
		  background: none;
		  background-color: #f1c107;
		  border-bottom: 5px solid #000;	
		  padding-top: 40px;	
		}

		.con01{
			width: 100%;
			height: auto;
			margin: 0 auto;
			position: relative;
			padding-top: 0px;
		}

		.con01 .title {
			width: 100%;
			margin: 0 auto;
			display: block;
			margin:20px 0 10px 0;
		}

		.con01 .title img {
		  width: 100%;
		  display: block;
		  margin: 0 auto;
		}

		.con01 li img{
			display: block;
			width: auto;
			margin: 0 auto;
			background: #fff;	
		}

		.con01 ul{
			width: 100%;	
			display: block;
			margin: 0 auto;
			padding-left: 10px;
		}

		.con01 li{
			min-width: 44%;
			float: left;
			background: #fff;
			/*padding: 14px 10px 20px 10px; */
			display: block;
			margin: 0 auto;
			border:2px solid #000;
			margin:10px 10px;
		}

		.con01 .logoimg{
			width: 100%;
			display: block;
			margin: 0 auto;
		}

		.con01 .logoimg img{
			padding-top: 10px;
			margin: 0 auto;	
			display: block;
			width: 30%;
		}

		.con01 .brand{
			float: left;
			background: #fff;
			width: 93%;
			height: auto;
			padding-bottom: 10px;
		}		

		.con01 .item_more{
			color: #000;
		  font-size: 13px;
		  text-align: center;
		  align-items: center;
		  margin: 0 auto; 
		  border:2px solid #2a2724;
		  border-radius: 100px;
		  width: 100px;
		  line-height: 26px;
		  height: 30px;
		  font-weight: bolder;
		}

		.con01 .item_text{
			background-color: #000;
			color: #fff;
		  font-size: 14px;
		  text-align: center;
		  width: 100%;
		  display: flex;
		  align-items: center;
		  justify-content: center;
		  padding: 10px 0px;
		  margin: 0;
		 	text-decoration: none; 
		}

		.con01 .item_text a{
			color: #fff390;
			text-decoration: none;
		}

		.con01 .item_text a:hover{
			color: #fff390;
		}


	}


.content_04{
	width: 100%;
	height:auto;
	margin: 0 auto;
	display: table;
  background: url(../images/bg04.jpg) top center no-repeat;		
 	border-bottom: 5px solid #000; 	
}

.content_04 li{
	width: 50%;
	margin:72px 0 110px 0; 
	float: left;
}


	@media screen and ( max-width: 768px ){
		.content_04{
			max-width: 100%;
			height:auto;
			margin: 0 auto;
			display: table;
		  background: none;
		  background-color: #0071bd;
		  border-bottom: 5px solid #000;	
		  padding-top: 40px;	
		}		

	.content_04 li{
		width: 100%;
		margin: 20px auto;
		display: block;
		float: left;
	}

	.content_04 li img {
    width: 100%;
    display: block;
    margin: 0 auto;
	}

	}


.content_05{
	width: 100%;
	height:auto;
	margin: 0 auto;
	display: table;
	background-color: #a50301;		
	border-bottom: 6px solid #000;
	padding:100px 0;	
}


.notice_title img{
	display: block;
	margin: 0 auto;
}


.notice_text{
	padding-top: 50px;
	color: #fff;
	font-size: 16px;
	line-height: 40px;
}

.notice_text li{
	list-style-type: none;
	padding-left: 100px;
}

.notice_text span a{
	color: #000;
	border-radius: 100px;
	background: #f0c000;
	border:2px solid #000;
	padding: 2px 10px;
	font-weight: bold;
	margin-left: 10px;
}

.notice_text span a:hover{
	background: #f9d74f;
}


	@media screen and ( max-width: 768px ){
		.content_05{
			width: 100%;
			height:auto;
			margin: 0 auto;
			display: table;
			background-color: #a50301;		
			border-bottom: 5px solid #000;
			padding:50px 0;	
		}

		.notice_text{
			padding-top: 20px;
			color: #fff;
			font-size: 14px;
			line-height: 30px;
		}

		.notice_text span a{
			color: #000;
			border-radius: 100px;
			background: #f0c000;
			border:2px solid #000;
			padding: 2px 10px;
			font-weight: bold;
			margin-left: 10px;
			word-break: keep-all;
		}

		.notice_text li{
			list-style-type: none;
			padding-left: 0px;
		}		
	}

.btn01 a{
	position: absolute;
	top: 170px;
	left:575px;
	display: block;
	background-color: #ed4955;
	color: #fff;
	padding:7px 28px;
	font-size: 20px;
	text-align: center;
	border-radius: 8px;
	letter-spacing: 0.1em;	
}

.btn02 a{
	position: absolute;
	top: 467px;
	left:280px;
	display: block;
	background-color: #ed4955;
	color: #fff;
	padding:7px 28px;
	font-size: 20px;
	text-align: center;
	border-radius: 8px;
	letter-spacing: 0.1em;	
}

.btn03 a{
  position: absolute;
  top: 290px;
  left: 565px;
  display: block;
  background-color: #ed4955;
  color: #fff;
  padding: 7px 28px;
  font-size: 20px;
  text-align: center;
  border-radius: 8px;
  letter-spacing: 0.1em;	
}

.btn01 a:hover , .btn02 a:hover , .btn03 a:hover{
	color: #fdffd6;
	background-color: #ff8a00;
}

.coupon{
	width:310px;
	height:auto;
	margin:0 auto;
	z-index: 999;
	position: absolute;
	float: left;
}

.coupon_copy01{
	position:absolute;
	margin:280px 0px 0 550px;
}

.coupon_copy01 li{
	padding-bottom: 10px;
}

.codebtn01{
	position: absolute;
	top: 10px;
	left: 200px;
	background: #9e460b;
	color: #fff;
	border-radius: 16px;
	font-size: 12px
	outline: none;
	padding:5px 10px;
	cursor:pointer;	
	border: 1px solid transparent; 
	outline: none; 	
}

.codebtn02{
	position: absolute;
	top: 70px;
	left: 200px;
	background: #9e460b;
	color: #fff;
	border-radius: 16px;
	font-size: 12px
	outline: none;
	padding:5px 10px;
	cursor:pointer;	
	border: 1px solid transparent; 
	outline: none; 	
}

.codebtn03{
	position: absolute;
	top: 130px;
	left: 200px;
	background: #9e460b;
	color: #fff;
	border-radius: 16px;
	font-size: 12px
	outline: none;
	padding:5px 10px;
	cursor:pointer;	
	border: 1px solid transparent; 
	outline: none; 	
}

.codebtn01:hover , .codebtn02:hover ,.codebtn03:hover{
	background: #ff8a00;
  transition: 0.5s;	
}

.codebg{
	width:240px;
	height:48px;
	line-height: 48px;
	font-size:18px;
	color:#9e460b;
	border: 1px solid #ead0bf;
	text-align:left;
	outline: none;
	padding-left: 50px;
}


.codebg:hover{
	border: 1px solid #cfa68c;
}

.event{
	width: 1000px;
	height: auto;
	display: table;
	margin: 0 auto;
	padding-top: 40px;
	padding-bottom: 60px;
}

/*------------------SOCIAL ICON---------------*/

.content_social{
	max-width: 100%;
	background-color: #efc000;
	height: auto;
	margin: 0 auto;
	background-repeat: repeat;
}

.content_social .content{
	width: 1000px;
	height: auto;
	margin:0 auto;
}

.content_social ul{
	width: 1000px;
	margin: 0 auto;
	display: table;
}

.content_social li{
	display: table;
	float: left;
	cursor:pointer;
	padding: 0px;
}


.social{
	display: table;
	margin:0 auto;
	width: 100%;
}

.social ul{

}

.social li{
	width: 25%;
}

.social li img{
	margin: 0 auto;
	display: block;
}

.social li img:hover{
	transition: 0.3s;
	transform:translateY(2px);
	-webkit-transform:translateY(2px);
	-moz-transform:translateY(2px);
	-ms-transform:translateY(2px);
	-o-transform:translateY(2px)	
}

.social a{
	display: block;
	text-align: center;
	margin:70px auto 130px auto; 
}

.social span:hover{
	transition: 0.3s;		
}

.social span{
	display: block;
	color: #000;
	font-weight: bolder;
	font-size:18px;
	line-height: 50px;
}


	@media screen and ( max-width: 768px ){

		.social a{
			display: block;
			text-align: center;
			margin:60px auto 140px auto; 
		}

		.social span{
			display: block;
			color: #000;
			font-size:24px;
			line-height: 50px;
		}

		.content_social .content{
			width: 100%;
			height: auto;
			margin:0 auto;
		}

		.content_social ul{
			width: 100%;
			margin: 0 auto;
			display: table;
			margin-bottom: 80px;
		}


		.social li{
			width: 50%;
		}

		.social a{
			display: block;
			text-align: center;
			margin:40px auto 0px auto; 
		}

		.social span {
		    display: block;
		    color: #000;
		    font-size: 14px;
		    line-height: 40px;
		    font-weight: bold;
		}


	}
/*------------------FOOTER ICON---------------*/

.footer{
	width: 100%;
	height: 80px;
	background: #a50201;
	bottom: 0;
	position:fixed;
	z-index: 99999;
	opacity: 0.95;
	border-top:8px solid #000;	
}

.footer ul{
	width: 1000px;
	margin:0 auto;
}

.footer li{
	display: table;
	width: 50%;
	float: left;
}

.footer li a{
	width: 150px;
	display: block;
	text-align: center;
  background-color: #fff;
  border-radius: 20px;
  color: #000;
  font-size: 17px;
  height: 40px;
  line-height: 40px;
  position: relative;
  -webkit-transition: .3s;
  transition: .3s;
  margin: 15px auto;
  font-weight: bold;
	opacity: 1;
	border:2px solid #000;
}


.footer li a:hover{img
  background-color: #ffff00;  
  border-radius: 20px;
  color: #000;	
}

.footer .join_m a{
	display: none;
}


.footer_m{
	display: none;
}

	@media screen and ( max-width: 768px ){


		.footer{
			display: none;
		}


		.footer_m{
			width: 100%;
			height: auto;
			background: #000;
			bottom: 0;
			position:fixed;
			z-index: 9999;
			opacity: 0.95;
			display: block;
			border-top: 2px solid #fff;
		}

		.footer_m ul{
			width: 100%;
			margin:0 auto;
		}

		.footer_m li{
			display: table;
			width: 49%;
			float: left;
			border-right: 2px solid #fff;
		}

		.footer_m li:last-child { border-right:none; } 

		.footer_m li a{
			width: 100%;
		    display: block;
		    text-align: center;
		    border-radius: 0px;
		    background: #000;
		    color: #fff;
		    font-size: 14px;
		    height: 40px;
		    line-height: 40px;
		    position: relative;
		    -webkit-transition: .3s;
		    transition: .3s;
		    margin: 0px auto;
		    font-weight: bold;
		    opacity: 1;
		    letter-spacing: 0.1em;
		}





	}




/*------------------ANIMATION---------------*/

.brightness-play{
	-webkit-animation:brightness2-play 2s -.20s linear infinite;
	animation:brightness2-play 2s -.20s linear infinite
}

@keyframes scroll{0%{top:720px}
50%{top:710px}
100%{top:720px}
}

@keyframes brightness2-play{
0%{filter:brightness(100%)}
88%{filter:brightness(100%)}
91%{filter:brightness(170%)}
94%{filter:brightness(100%)}
97%{filter:brightness(170%)}
100%{filter:brightness(100%)}
}


.brightness-bg{
	-webkit-animation:brightness2-bg 2.5s -.20s linear infinite;
	animation:brightness2-bg 2.5s -.20s linear infinite
}

@keyframes brightness2-bg{
0%{filter:brightness(100%)}
88%{filter:brightness(150%)}
91%{filter:brightness(300%)}
94%{filter:brightness(150%)}
97%{filter:brightness(300%)}
100%{filter:brightness(100%)}
}


.uptodown{-webkit-animation-duration:1s;animation-duration:1s;-webkit-animation-name:uptodown;animation-name:uptodown;-webkit-animation-iteration-count:infinite;animation-iteration-count:infinite;-webkit-animation-direction:alternate;animation-direction:alternate}
@-webkit-keyframes uptodown{0%{transform:translate(0,-10px)}
100%{transform:translate(0,0)}
}
@keyframes uptodown{0%{transform:translate(0,-10px)}
100%{transform:translate(0,0)}
}

.updown{
	animation-name: updown;
  -webkit-animation-name: updown;
  animation-duration: 8s;
  -webkit-animation-duration: 8s;
  animation-iteration-count: infinite;
  -webkit-animation-iteration-count: infinite;}

@keyframes updown {
  0% {
    -webkit-transform: rotate(7deg);
    transform: rotate(7deg);
  }
  50% {
    -webkit-transform: rotate(-7deg);
    transform: rotate(-7deg);
  }
  100% {
    -webkit-transform: rotate(7deg);
    transform: rotate(7deg);
  }
}	

@keyframes updown2 {
  0% {
    -webkit-transform: rotate(-7deg);
    transform: rotate(-7deg);
  }
  50% {
    -webkit-transform: rotate(7deg);
    transform: rotate(7deg);
  }
  100% {
    -webkit-transform: rotate(-7deg);
    transform: rotate(-7deg);
  }	
}	

@keyframes updown3 {
  25% {transform: translateY(8px);}
  50%, 100% {transform: translateY(px);}
  75% {transform: translateY(-8px);}		
}	


@keyframes shallot_01{
	0%,100%{transform: translate(0%,0%) rotate(0deg) skew(0deg,0deg);opacity:1;}
	25%{transform: translate(0%,0%) rotate(0deg) skew(3deg,0deg) ;opacity:1;}
	75%{transform: translate(0%,0%) rotate(0deg) skew(-3deg,0deg) ;opacity:1;}
}
@keyframes shallot_02{
	0%,100%{transform: translate(0%,0%) rotate(0deg) skew(0deg,0deg);opacity:1;}
	25%{transform: translate(0%,0%) rotate(0deg) skew(-3deg,0deg) ;opacity:1;}
	75%{transform: translate(0%,0%) rotate(0deg) skew(3deg,0deg) ;opacity:1;}
}

@keyframes jumpjump {
  0% {
    transform: scale(0.8, 1.1) translate(0, -1000px);
  }
  85% {
    transform: scale(1.1, 0.9) translate(0, 30px);
  }
  100% {
    transform: scale(1) translate(0, 0);
  }
}

@keyframes jumpjump_shake {
  0% {
    transform: scale(1, 1) translate(0%, 0%);
  }
  40% {
    transform: scale(0.95, 1.2) translate(0%, -8%);
  }
  50% {
    transform: scale(1.1, 0.9) translate(0%, 5%);
  }
  60% {
    transform: scale(0.95, 1.05) translate(0%, -3%);
  }
  70% {
    transform: scale(1.05, 0.95) translate(0%, 3%);
  }
  80% {
    transform: scale(1, 1) translate(0%, 0%);
  }
  100% {
    transform: scale(1, 1) translate(0%, 0%);
  }
}

.zoominzoomout-play { -webkit-animation-duration: 0.7s;  animation-duration: 0.7s; animation-delay:-1s;  -webkit-animation-name: zoominzoomout-play;  animation-name: zoominzoomout-play;  -webkit-animation-iteration-count: infinite;    animation-iteration-count:infinite;-webkit-animation-direction: alternate;animation-direction: alternate;}
	@-webkit-keyframes zoominzoomout-play {   
		0%  { -webkit-transform: scale(1); transform: scale(1);} 
		100%{ -webkit-transform: scale(0.95); transform: scale(0.95); }
		}
	@keyframes zoominzoomout-play { 
		0%  { -webkit-transform: scale(1); transform: scale(1); } 
		100%{ -webkit-transform: scale(0.95); transform: scale(0.95);}
	}
